<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AnimeStar</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/star.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/miniBlockAnime.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/AnimeStar.styles.css" asp-append-version="true" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <header class="p-1 bg-dark">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center align-items-center mb-md-0">
                    <li><a href="/" class="nav-link py-0 text-secondary animeHead">AnimeStar</a></li>
                    <li class="nav-item dropdown">
                        <button class="btn btn-link nav-link me-2 py-2 px-0 px-lg-2 dropdown-toggle" type="button" id="navbarDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                            Главная
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><h6 class="dropdown-header">База данных</h6></li>
                            <li>
                                <a class="dropdown-item d-flex align-items-center justify-content-between active" aria-current="true" href="#">
                                    Аниме
                                </a>
                            </li>
                            <li><hr class="dropdown-divider"></li>
                            <li><h6 class="dropdown-header">Сообщество</h6></li>
                            <li><a class="dropdown-item" href="#" title="">Форум</a></li>
                            <li><a class="dropdown-item" href="#" title="">Рецензии</a></li>
                            <li><a class="dropdown-item" href="/Account/Users" title="">Пользователи</a></li>
                            
                            @if (User.Claims.FirstOrDefault(c => c.Type == "Roles")?.Value == "moder")
                            {
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="/Anime/AddAnime" title="">Добавить аниме</a></li>
                                <li><a class="dropdown-item" href="/Character/Index" title="">Персонажи</a></li>
                                <li><a class="dropdown-item" href="/Studio/Index" title="">Студии</a></li>
                                <li><a class="dropdown-item" href="/Genre/Index" title="">Жанры</a></li>
                            }
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">О нас</a></li>
                        </ul>
                    </li>

                    <li>
                        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-4" role="search">
                            <input list="animeList" id="searchInput" class="form-control form-control-dark text-bg-dark" placeholder="Search..." aria-label="Search">
                            <datalist id="animeList"></datalist>
                        </form>

                        <script>
                            const searchInput = document.getElementById('searchInput');
                            const animeList = document.getElementById('animeList');

                            searchInput.addEventListener('input', async (event) => {
                                const searchTerm = event.target.value.trim();

                                if (searchTerm.length === 0) {
                                    animeList.innerHTML = ''; // Очистить список при пустом поисковом запросе
                                    return;
                                }

                                const response = await fetch(`/Home/Search?searchTerm=${encodeURIComponent(searchTerm)}`);
                                const data = await response.json();

                                animeList.innerHTML = ''; // Очистить список перед добавлением новых элементов
                                data.forEach(anime => {
                                    const option = document.createElement('option');
                                    option.value = anime.title;
                                    option.textContent = anime.title;
                                    option.dataset.animeId = anime.id; // Скрытое значение id аниме в атрибуте data-anime-id
                                    animeList.appendChild(option);
                                });
                            });

                            // Обработчик события change для поля ввода
                            searchInput.addEventListener('change', (event) => {
                                const selectedOption = animeList.querySelector(`option[value="${event.target.value}"]`);
                                if (selectedOption) {
                                    const selectedAnimeId = selectedOption.dataset.animeId;
                                    window.location.href = `/Home/AnimeDetails?id=${selectedAnimeId}`; // Перенаправление на страницу с деталями аниме
                                }
                            });
                        </script>
                </ul>
                @if (User.Identity.IsAuthenticated)
                {
                    <div class="row text-end">
                        <div class="col-5">
                            <form method="post" asp-controller="Account" asp-action="Logout">
                                <button type="submit" class="btn btn-outline-light me-2">Logout</button>
                            </form>
                        </div>
                        <div class="col-7">
                            <a href="/Account/UserInfo" class="text-light me-2 text-decoration-none">Личный кабинет @User.Identity.Name</a>
                        </div>
                    </div>
                }
                else
                {
                    <div class="row text-end">
                        <div class="col-5">
                            <form method="post" asp-controller="Account" asp-action="Authorization">
                                <button type="submit" class="btn btn-outline-light me-2">Login</button>
                            </form>
                        </div>
                        <div class="col-7">
                            <form method="post" asp-controller="Account" asp-action="Register">
                                <button type="submit" class="btn btn-warning">Sign-in</button>
                            </form>
                        </div>
                    </div>
                }

            </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted footer-main">
        <div class="container">
            &copy; 2024 - AnimeStar
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
