@model AnimeStar.Models.AuthorizationViewModel

<div class="container text-white col-8">
    <div class="">
        <form asp-controller="Account" asp-action="Authorization" method="post">
            <div class="row p-3 m-2">
                <h2>Авторизация</h2>
            </div>
            @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
            {
                <div class="row mb-2">
                    <div class="col">
                        <p class="text-danger">@ViewBag.ErrorMessage</p>
                    </div>
                </div>
            }
            <div class="row mb-2">
                <label asp-for="UserName"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span> <!-- Добавлено для отображения сообщений об ошибках -->
            </div>
            <div class="row mb-2">
                <label asp-for="Password"></label>
                <input asp-for="Password" type="password" />
                <span asp-validation-for="Password" class="text-danger"></span> <!-- Добавлено для отображения сообщений об ошибках -->
            </div>
            <div class="row p-2">
                <button type="submit" class="btn btn-outline-primary">Войти</button>
            </div>
        </form>
    </div>
</div>

