@model AnimeStar.Models.RegisterViewModel

<div class="container text-white col-8">
    <div class="">
        <form asp-controller="Account" asp-action="Register" method="post" id="registerForm">
            <div class="row p-3 m-2">
                <h2>Регистрация</h2>
            </div>

            <!-- Вывод сообщения об ошибке -->
            @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
            {
                <div class="row mb-2">
                    <div class="col">
                        <p class="text-danger">@ViewBag.ErrorMessage</p>
                    </div>
                </div>
            }

            <div class="row mb-2">
                <label asp-for="Email"></label>
                <input asp-for="Email" />
            </div>
            <div class="row mb-2">
                <label asp-for="Name"></label>
                <input asp-for="Name" />
            </div>
            <div class="row mb-2">
                <label asp-for="Password"></label>
                <input asp-for="Password" type="password" />
            </div>
            <div class="row p-2">
                <button type="submit" class="btn btn-outline-primary">Зарегистрироваться</button>
            </div>
        </form>
    </div>
</div>
