@model CharacterViewModel

<h1 class="text-white">Редактировать</h1>

<div class="text-white fullInfAboutAnime">
    <form method="post" enctype="multipart/form-data" asp-action="Edit">
        <input type="hidden" asp-for="Id" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name" class="control-label">Имя</label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group mb-2">
            <label asp-for="Description" class="control-label">Описание</label>
            <textarea asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ImageFile" class="control-label">Изображение</label>
            <input type="file" class="form-control-file" id="ImageFile" name="ImageFile">
            <span asp-validation-for="ImageFile" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Сохранить" class="btn btn-primary" />
        </div>
    </form>
</div>
