:root{

}


html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: url('../img/bg/patternblackstar.png');
}

/*Блок аниме*/

.card {
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    box-shadow: 0px 1px 10px rgba(255, 255, 255, 1);
    transition: all 0.3s ease;
    width: 100%; /* Ширина блока на 100% */
    height: 300px; /* Задайте фиксированную высоту для карточек */
    overflow: hidden; /* Скрыть содержимое, выходящее за пределы карточки */
}

    .card:hover {
        box-shadow: 0 0px 15px rgb(246, 115, 250);
    }

.card-img-top {
    height: 200px; /* Высота изображения */
    object-fit: cover; /* Заполнение изображения в пределах размеров блока */
}

.card-title {
    font-size: 1.1rem;
    font-weight: bold;
    overflow: hidden; /* Скрыть содержимое, выходящее за пределы карточки */
    white-space: nowrap; /* Предотвратить перенос текста на новую строку */
    text-overflow: ellipsis; /* Заменить выходящий текст многоточием */
}

.card-text {
    font-size: 0.9rem;
    text-decoration:none;
    transition: all, 0.3s, ease;
}

.no-decoration {
    text-decoration: none;
    color: inherit; /* чтобы сохранить цвет текста */
}

    .no-decoration:hover {
        transition: all, 0.3s, ease;
        color: blueviolet;
    }

a.animeHead:hover {
    
    color: blueviolet
}

.animeHead {
    font-size: 2rem;
}

.bg-custom {
    background-color: #deb3e3;
}

.teg {
    margin: 1rem;
    padding: 1rem;
    background-color: #deb3e3;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
}

.text-blue {
    color: #003333
}

.bg-teg {
    background-color: #deb3e3;
    border: 1px solid #dee2e6;
    border-radius: 0.24rem;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.footer-main {
    background-color: rgba(var(--bs-dark-rgb));
}

/*Полоски*/

.bg-callout {
    --bs-link-color-rgb: 110, 168, 254;
    --bs-code-color: #e685b5;
    padding: 0.3rem;
    margin-top: 0.75rem;
    margin-bottom: 1rem;
    color: #eda9ff;
    border-left: 0.3rem solid;
    background-color: #330033;
    border-radius: 1rem;
    transition: all 0.5s ease;
}

    .bg-callout:hover {
        color: blueviolet;
        border-radius: 3rem;
        padding-left: 1rem;
    }

.bd-callout-info {
    --bd-callout-color: #6edff6;
    --bd-callout-bg: #032830;
    --bd-callout-border: #087990;
}

.bd-callout-warning {
    --bd-callout-color: var(--bs-warning-text-emphasis);
    --bd-callout-bg: var(--bs-warning-bg-subtle);
    --bd-callout-border: var(--bs-warning-border-subtle);
}

.bd-callout-danger {
    --bd-callout-color: var(--bs-danger-text-emphasis);
    --bd-callout-bg: var(--bs-danger-bg-subtle);
    --bd-callout-border: var(--bs-danger-border-subtle);

}

/*Регистрация*/

.modal {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    left: 0;
    z-index: 1055;
    display: none;
    width: 100%;
    height: 100%;
    overflow: auto;
    outline: 0;

}

.modal-dialog {
    background: rgba(0, 0, 0, 0.8);
    position: relative; /* Относительное позиционирование для диалогового окна */
    margin: 30px auto; /* Выравнивание по центру */
    z-index: 1060; /* Установить индекс поверх модального окна */
}

.modal-content {
    background: rgba(0, 0, 0, 0.1);
    position: relative; /* Относительное позиционирование для содержимого модального окна */
    border-radius: 0.3rem; /* Скругление углов */
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.5); /* Тень */
    z-index: 1070; /* Установить индекс поверх диалогового окна */
}

/*Кнопка пользователь*/

.btn-outline-primary {
    font-size: 1.25rem;
    border-color: rgb(246, 115, 250);
    color: rgb(246, 115, 250);
}

    .btn-outline-primary:hover {
        background-color: rgba(246, 115, 250, 0.8); /* Задаем розовый цвет при наведении курсора */
        transition: background-color 0.3s revert;
        box-shadow: 0 0 1rem rgba(246, 115, 250, 0.5); /* Тень */
        color: white; /* Задаем цвет текста (если нужно) */
    }

    .btn-outline-primary:hover,
    .btn-outline-primary:focus,
    .btn-outline-primary:active {
        border-color: rgb(246, 115, 250);
    }

/*Информация об аниме*/

.info {
    font-size: 1rem;
    --bs-link-color-rgb: 110, 168, 254;
    --bs-code-color: #e685b5;
    padding: 0.1rem;
    margin-top: 0.75rem;
    margin-bottom: 1rem;
    color: #eda9ff;
    border-left: 0.3rem solid;
    background-color: #330033;
    border-radius: 0.2rem;
}

.image {
    height: 300px;
    object-fit: cover;
}

.fullInfAboutAnime {
    border-radius: 0.3rem;
    padding-top: 1rem;
    background-color: rgba(255,255,255, 0.2);
    backdrop-filter: blur(0.1rem);
    box-shadow: 0 0 1rem rgba(215 105 189, 0.5);
    width: 100%;
}
